    body {
        background-image: url("../img/hd5.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
    
    .navbar-custom {
        background: white;
        background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
        z-index: 2;
        backdrop-filter: blur();
    }
    
    .nav-link {
        color: #fff!important;
        margin-right: 10x;
    }
    
    .nav-link:hover {
        color: rgba(216, 216, 216)!important;
    }
    
    .phone,
    .email {
        margin-right: 5px;
    }
    
    .btn-login {
        background-image: linear-gradient(to right, #283048 0%, #859398 51%, #283048 100%)
    }
    
    .btn-login {
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
    }
    
    .btn-login:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
    
    .btn-logout {
        background-image: linear-gradient(to right, #200122 0%, #6f0000 51%, #200122 100%)
    }
    
    .btn-logout {
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
    }
    
    .btn-logout:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
    
    .btn-grad {
        background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 51%, #bdc3c7 100%)
    }
    
    .btn-grad {
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
    }
    
    .btn-grad:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
    
    .form-custom {
        display: flex;
        flex-direction: column;
        margin: auto;
        background: white;
        width: 60%;
        background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
        border-radius: 10px;
        z-index: 2;
        backdrop-filter: blur(2px);
        display: flex;
    }