.photo-profil {
    width: 175px;
    border: 1px solid grey;
    border-radius: 50%;
    vertical-align: middle;
}

.header-profil {
    display: flex;
    justify-content: center;
}

.ellipse {
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: small;
    background-color: transparent;
    border: 1px solid lightgray;
}

.btn-modif {
    width: 115px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: small;
    background-color: transparent;
}

.modal-modif {
    background-color: white;
}

.thumbpic {
    object-fit: fill;
}