RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]


#protection .env
<files .env>
order allow,deny
deny from all
</files>

#protection .htaccess
<files .htaccess>
order allow,deny
deny from all
</files>

#protection Bdd.php
<files Bdd.php>
order allow,deny
deny from all
</files>

